<main class="acesso-negado">
    <app-documento-contencao
        codigo="403"
        classificacao="CLASSE-██ // CONFIDENCIAL"
        setor="CONTROLE DE ACESSO INSTITUCIONAL"
        rotulo="AUTORIZAÇÃO INSUFICIENTE"
        titulo="Acesso restrito"
        [mensagem]="mensagemSelecionada"
        [paragrafos]="paragrafos"
        [registro]="registroExpurgadoSelecionado"
        [avisos]="avisos"
        rodape="DOCUMENTO █████ ████████████ REDACTED █████"
    >
        <a app-botao acoes variante="primario" class="contencao__acao" routerLink="/campanhas">
            <app-icone nome="voltar" />
            Retornar ao painel
        </a>
    </app-documento-contencao>
</main>
