<div [class]="classes()">
    <div class="stat__icone"><ng-content select="[statIcone]" /></div>
    <div class="stat__rotulo-linha">
        <div class="stat__rotulo">
            @if (iconeEfetivo(); as nomeIcone) {
                <app-icone class="stat__rotulo-icone" [nome]="nomeIcone" [appTooltip]="rotulo()" />
            }
            {{ rotulo() }}
        </div>
        <ng-content select="[statInfo]" />
    </div>
    <div class="stat__valor" #nodoValor>
        @if (valorProjetado()) {
            <ng-content select="[appStatValor]" />
        } @else if (temValor()) {
            {{ valor() }}
        } @else {
            <span class="stat__valor--sem-valor" aria-label="Não preenchido">—</span>
        }
    </div>
    @if (nota()) {
        <div class="stat__nota">{{ nota() }}</div>
    }
</div>
