<div [class]="classes()">
    <div class="ficha-termo__linha">
        <ng-content select="[fichaTermoIcone]" />
        <span class="ficha-termo__rotulo"><ng-content select="[fichaTermoRotulo]" /></span>
        <span class="ficha-termo__controles"><ng-content select="[fichaTermoControles]" /></span>
        @if (temMais() && compacta()) {
            <button
                app-botao
                variante="secundario"
                estilo="texto"
                tamanho="pequeno"
                posicaoIcone="direita"
                type="button"
                class="ficha-termo__mais-gatilho"
                [attr.aria-expanded]="maisAberto() ? 'true' : 'false'"
                [attr.aria-label]="rotuloMais()"
                (click)="alternarMais()"
            >
                Mais
                <app-icone
                    nome="chevron"
                    class="ficha-termo__seta"
                    [class.ficha-termo__seta--aberta]="maisAberto()"
                />
            </button>
        }
        @if (removivel()) {
            <button
                app-botao-icone
                tamanho="compacto"
                type="button"
                class="ficha-termo__remover"
                [attr.aria-label]="rotuloRemover()"
                appTooltip="Remover"
                (click)="remover.emit()"
            >
                <span aria-hidden="true">×</span>
            </button>
        }
    </div>
    <div class="ficha-termo__corpo">
        <div class="ficha-termo__conteudo"><ng-content /></div>
        @if (temMais() && !compacta()) {
            <button
                app-botao
                variante="secundario"
                estilo="texto"
                tamanho="pequeno"
                posicaoIcone="direita"
                type="button"
                class="ficha-termo__mais-gatilho"
                [attr.aria-expanded]="maisAberto() ? 'true' : 'false'"
                [attr.aria-label]="rotuloMais()"
                (click)="alternarMais()"
            >
                Mais
                <app-icone
                    nome="chevron"
                    class="ficha-termo__seta"
                    [class.ficha-termo__seta--aberta]="maisAberto()"
                />
            </button>
        }
    </div>
    @if (temMais() && maisAberto()) {
        <div class="ficha-termo__mais">
            <ng-content select="[fichaTermoMais]" />
        </div>
    }
</div>
